*{
  padding: 0;
  margin: 0;
  font-size: 16px;
  color: #333;
  box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
  font-weight: normal;
}
a{
  text-decoration: none;
}
ul, li, ol{
  list-style: none;
}
em{
  font-style: normal;
}
.pr{
  position: relative;
}
.pa{
  position: absolute
}
.p1{
  padding: 10px;
}
.p2{
  padding: 15px;
}
.p3{
  padding: 20px;
}
.m1{
  margin: 10px;
}
.m2{
  margin: 15px;
}
.m3{
  margin: 20px;
}
.fl{
  float: left;
}
.fr{
  float: right;
}
.flex-start{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}