<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/public/css/default.css">
</head>
<body>
  <h1>我是user</h1>
  <h1><%= id%></h1>
  <h1>My name is <%= name%>, I'm <%= age%> years old </h1>
  <h1>Current time is <%= nowTime%> </h1>
  <h2>Current time is <%= nowTimeProp%> </h2>
  <h3>My skills are
    <% for(var i = 0; i < skills.length; i++ ) {%>
    <li><%= skills[i]%></li>
    <%}%>
  </h3>
</body>
</html>