.active{
 color: red;
}
.tabbar_sty{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
  height: 60px;
  background-color: #fff;
  line-height: 60px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  box-shadow: 0 0 5px 2px #eee;
}
.tabbar_sty li {
  flex: 1;
  list-style: none;
  

}
.tabbar_sty li a{
  font-style: none;
  text-decoration: none;
}
.adm-tab-bar{
  width: 100%;
}