.container {
  width: 100px;
  margin: 0 auto;
}

.comp-container {
  height: 150px;
  position: relative;
}

.title {
  position: absolute;
  left: 0;
  top: 0;
}

.test-1-enter-active {
  opacity: 0;
  transition: 1s;
  transform: translateX(-100px);
}
.test-1-enter-done {
  opacity: 0;
}

.test-1-exit-done {
  display: none;
}
.test-1-enter {
  display: block;
  opacity: 0;
  transition: 1s;
  transform: translateX(100px);
}

.test-enter {
  opacity: 0;
}
.test-enter-active {
  opacity: 1;
  transition: 2s;
}
.test-exit {
  opacity: 1;
}
.test-exit-active {
  opacity: 0;
  transition: 2s;
}
.test-exit-done {
  opacity: 0;
}
