.container{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
.container .header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #333;
    color: #fff;
}

.container .middle {
    position: absolute;
    top: 60px;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}

.container .middle .aside{
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: #008c8c;
    overflow: auto;
}

.container .middle .main{
    position: absolute;
    top: 0;
    left: 200px;
    right: 0;
    bottom: 0;
    padding: 20px;
}